@model IEnumerable<expensesapp.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row ">
    <div class=" col-md-7">
        <ejs-grid id="categories" dataSource="@Model">

        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
</div>