html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
    font-family: "Ubuntu"
}
*:not(.fa-solid):not(.fa):not(.e-icons)
{
    font-family: "Ubuntu"
}
body {
    margin-bottom: 60px;
    background-color: #0D1117;
    color: white;
}
.e-bigger {
    font-size: x-large;
}
.main-content {
    margin-left: auto;
}
/*navb*/
nav.navbar{
    
}

/*breadcrumb*/
.e-breadcrumb a, e-breadcrumb a:hover {
    text-decoration: none !important;
    color : inherit !important;
}
/*button PEN*/
.btn:focus, .btn:active
{
    outline:none !important;
    box-shadow:none;

}
/*hyperlonk PEN*/
.no-a-decoration, .no-a-decoration:hover{
    text-decoration:none;
    color:inherit;
}

/*grid*/
.e-grid {
    border: 0;
    border-radius: 5px; 
}
    .e-grid .e-gridcontent, .e-grid .e-table{
        background-color: #1a222b;
    }
/*radio button g*/

.e-btn-group.custom-rbt-group{
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #12161d;
    background-color: rgb(34 43 51);
    color: #12161d
}

.e-btn-group.custom-rbt-group input:checked + label.e.e-btn {
    background-color: #12161d;
    color: #212b36;
    border: 1px solid #fff;
}
/*sidebar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    
}


/*widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}